h1, h4, button{
	font-family: 'Lato', sans-serif;
}

button{
}

a{
	font-family: 'Lato', sans-serif;
	color: #ffffff;
	font-size: 21px;
}
.form-signin{
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
form{
	display: block;
}
#main{
	display: block;	
	z-index: 3;
}
#header{
	height: 50px;
    border-bottom: 1px solid #EEE;
    background-color: #ffffff;
    height: 70px;
    width: 100%;
    padding: 5px;
}

#main-content{
	position: relative;
	width: 100%;
	height: 70%;
}


.header-content{
}

.navigation{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 300px;
	background-color: #000000;
	z-index: 2;
}

.instafeed{
	position: absolute;
	top: -100px;
	left: -100px;
	width: 150%;
	height: 148px;
	z-index: 1;
}

.footer{
	position: relative;
	bottom: 0;
}

.instamap, h1{
	font-family: 'Yellowtail', cursive;
}